{% extends "base.jinja" %}

{% block main %}
  <div class="movie">
    {% if movie.poster != "N/A" %}
      <img src="{{ movie.poster }}" alt="movie poster.">
    {% else %}
      <p>Not have a poster</p>
    {% endif %}
    <div class="movie__parameters-container">
      <p>Rated: {{ movie.rated }}</p>
      <p>Released: {{ movie.released }}</p>
      <p>Runtime: {{ movie.runtime }}</p>
      <p>Genre: {{ movie.genre|join(', ') }}</p>
      <p>Director: {{ movie.director|join(', ') }}</p>
      <p>Actors: {{ movie.actors|join(', ') }}</p>
      <p>Plot: {{ movie.plot }}</p>
      <p>Metascore: {{ movie.metascore }}</p>
    </div>
  </div>
{% endblock main %}
