{% extends "base.jinja" %}

{% block main %}
<h1>My movies</h1>
<div class="movies">
  <ul class="movies__list">
    {% for movie in movies %}
    <li class="movies__item">
      {% if movie.poster != 'N/A' %}
      <img src="{{ movie.poster }}" alt="poster">
      {% else %}
      <p>Not have the poster</p>
      {% endif %}
      <h2>{{ movie.title }}</h2>
      <p>Year: {{ movie.year }}</p>
      <div class="movies__item-bottom">
        <a href="{{ paths.movies }}/{{ movie.imdb }}">Go to Movie</a>
      </div>
      </p>
      <form method="post" action="{{ paths.my_movies }}">
        <input type="hidden" name="imdb" value="{{ movie.imdb }}">
        <button type="submit">Add movie to my favorites</button>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock main %}
