{% extends "base.jinja" %}

{% block head %}
<script src="/js/movies.js" defer></script>
{% endblock head %}

{% block main %}
<h1>My movies</h1>
<div class="movies">
  {% if movies %}
    <ul class="movies__list">
      {% for movie in movies %}
      <li class="movies__item" data-imdb="{{ movie.imdb }}">
        {% if movie.poster != 'N/A' %}
        <img src="{{ movie.poster }}" alt="poster">
        {% else %}
        <p>Not have the poster</p>
        {% endif %}
        <h2>{{ movie.title }}</h2>
        <p>Year: {{ movie.year }}</p>
        <form class="movies__form">
          <label for="movies__note">Note:</label>
          <textarea class="movies_note" id="movies__note">{{ movie.note }}</textarea>
          <button class="movies__update" type="button">Save</button>
        </form>
        <p class="movies__item-bottom">
          <a href="{{ paths.movies }}/{{ movie.imdb }}">Go to Movie</a>
        </p>
        <button class="movies__delete" type="button">
          Delete from my favorites
        </button>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Not have movies for viewing</p>
  {% endif %}
</div>
{% endblock main %}
