{% extends "base.jinja" %}

{% block main %}
<h1>My movies</h1>
<div class="movies">
  {% if movies %}
    <ul class="movies__list">
      {% for movie in movies %}
      <li class="movies__item">
        {% if movie.poster != 'N/A' %}
        <img src="{{ movie.poster }}" alt="poster">
        {% else %}
        <p>Not have the poster</p>
        {% endif %}
        <h2>{{ movie.title }}</h2>
        <p>Year: {{ movie.year }}</p>
        <div class="movies__item-bottom">
          <a href="{{ paths.movies }}/{{ movie.imdbID }}">Go to Movie</a>
        </div>
        </p>
        <button class="movies__delete" type="button" data-imdbID="{{ movie.imdbID }}">
          Delete from my favorites
        </button>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Not have movies for viewing</p>
  {% endif %}
</div>
{% endblock main %}

{% block body_end %}
<script>
  const deleteButtons = document.querySelectorAll('.movies__delete');

  deleteButtons.forEach((deleteButton) => {
    deleteButton.addEventListener('click', () => {
      console.log('imdbID', deleteButton.dataset)
      fetch(`{{ paths.my_movies }}/${deleteButton.dataset.imdbid}`, { method: 'DELETE' })
      .then(() => location.reload())
      .catch((error) => console.log(error));
    });
  });
</script>
{% endblock body_end %}
