{% macro header(paths, current_path) -%}
<header class="header">
  <p class="header__logo">LOGO TITLE</p>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a
          class="header__link{% if paths.home == current_path %} header__link--active{% endif %}"
          href="{{ paths.home }}"
        >
          Home
        </a>
      </li>
      <li class="header__item">
        <a
          class="header__link{% if paths.my_movies == current_path %} header__link--active{% endif %}"
          href="{{ paths.my_movies }}"
        >
          My movies
        </a>
      </li>
    </ul>
  </nav>
</header>
{%- endmacro %}
