{% from "components/header.jinja" import header %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title|default("Movies", true) }}</title>
    <link rel="stylesheet" href="/styles.css">
    {% block head %}{% endblock head %}
  </head>
  <body>
    {{ header(paths, current_path) }}
    <main class="main">
      {% block main %}{% endblock main %}
    </main>
    {% block body_end %}{% endblock body_end %}
  </body>
</html>
